<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085599995322-65rspsnr1ptoghfnegd4bl1ucpp4jia1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085599995322-65rspsnr1ptoghfnegd4bl1ucpp4jia1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1085599995322-h5nla57mo4thpsd4t3i89is2ct237b1f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrgN2Mm5s2u7B1l16Z35P046oe4cxq2XA</string>
	<key>GCM_SENDER_ID</key>
	<string>1085599995322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.cloudis.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-5e646</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-5e646.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085599995322:ios:cfb826436087304e8fb983</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-5e646.firebaseio.com</string>
</dict>
</plist>